<div class="hero-section">
  <img src="assets/images/profile.jpg" alt="Hero Image" />
  <div class="description">
    <div>
    <h1>
      Sara Ahmed
    </h1>
    <p>
      “Bridging Code and Creativity: Full-Stack Developer & Graphic Designer”
      <br>
      <br>
      As a full-stack developer, I architect robust solutions using JavaScript, Python, and databases. My code is
      efficient, scalable, and meticulously tested. I thrive on solving complex problems.
      <br>
      <br>
      As a graphic designer, I craft pixel-perfect interfaces. Typography, layout, and color theory are my tools. I
      create intuitive user experiences that resonate. From wireframes to high-fidelity mockups.
      <br>
      <br>
      Together, I bridge the gap between creativity and functionality.
    </p>
  </div>

    <button>Let’s build something remarkable. 🌟</button>

  </div>

</div>
