.project-card{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  border-radius: 5px;

  border-bottom: var(--light) 3px solid;
}

.project-card img{
  width: 800px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 var(--light);
  &:hover{
    box-shadow: 0 10px 10px 0 #3405181f;
  }
}
.project-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
}

button{

  background-color: var(--accent);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  &:hover{
    background-color: var(--dark);
  }
}

button a{
  text-decoration: none;
  color: var(--light);
  font-family: 'Rome';


}

//.highlight {  color: #ffffff;
//}

h3{
  background-color: var(--darkermain);
  border-radius: 4px;
  font-family: 'Rome';
  padding: 2rem;
  margin: 0;
  color: var(--light);
}
